#map { position:absolute; top:0; bottom:0; width:100%; }
      nav {
        font: 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 600;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        border-radius: 3px;
        max-width: 20%;
        color: #fff;

    }
    #profile{
      position: absolute;
      top: 10px;
      right: 10px;
    }

    label {
        border-radius: 0 0 3px 3px;
        padding: 20px;
    }
    .icons {
    max-width:80%;
    object-fit: scale-down;
    }
    #nav{
        text-align: center;
        padding-bottom: 5vh;  
        }
         #navItem{
        justify-content: 'center';
        }
        #pois{
          max-width: 55px;
        }
        #navItem:active{
        transform: translateY(5px);
        }
        .btn{
          font: 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
       
.jumbotron{
  background: white;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
}